.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFFDE9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}
.image {
  height: 100px;
  max-height: 100px;
  min-height: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.content-wrapper {
  margin-top: 80px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    text-align: center;
  }
  .content-wrapper-2 {
    flex-direction: row;
    text-align: center;
  }
  .text-section {
    max-width: 100%;
  }
  .buttons {
    flex-direction: row;
    align-items: center;   
  }
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}