<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <title>{{ page.title }} | {{ site.school_name }}</title>
    <meta name="description" content="SICTC Virtual Open House Website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style/styles.css">
</head>
<body class="page-{{ page.layout }}">
    {% include header.html %}
    <borderLeft></borderLeft>

    <main>
        <h1>{{ page.title }}</h1>
        {{ content }}
    </main>

    <borderRight></borderRight>
    {% include footer.html %}

    <script src="/assets/scripts/navScript.js"></script>
</body>
</html>