<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seth Aull - HVAC</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <logo><img src="images/SICTCLogo.png" alt="Logo" class="icon"></logo>
        <input type="button" id="Apply" value="Apply Today!">
    </header>
    <borderLeft></borderLeft>
    
    <div>
        <h1>View the Classroom</h1>
        <iframe src="https://kuula.co/share/collection/7qN1d?logo=-1&info=0&fs=1&vr=1&sd=1&thumbs=0"
            width="1024"
            height="720"
            style="border:none;">
        </iframe>
        <buttonGroup>
            <input type="button" id="link" onclick="alert('Hello World!')"value="Meet the Teacher">
            <input type="button" id="link" onclick="alert('Hello World!')" value="Learn More"></br>
            <input type="button" id="link" onclick="alert('Hello World!')"value="View The Classroom">
            <input type="button" id="link" onclick="alert('Hello World!')"value="Back to Courses">
            
        </buttonGroup>
        <borderRight></borderRight>
    </div>
    
    <footer>
        <logo2></logo2>
        <ul>
            <li><a href="https://g.co/kgs/qucSe8N"><map></map>1901 Lynch RD., Evansville, IN 47711</a></li>
            <li><phone></phone>812-435-8438</li>
            <li><phone2></phone2>812-435-8853</li>
        </ul>
    </footer>
</body>
</html>